

#box
{
    /*width: 500px;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    position:relative;
    background-color: black;
    height:325px;
    width:250px;
    border-radius:10px;
    padding-left: 15px;
    /*top:80px;*/
    /*left:40%;*/
}
#output {
    position:relative;
    width: 93%;
    /*left:2px;*/
    top:8px;
    height: 50px;
    color:black;
    background-color: lightgrey;
    border: solid;
    border-radius: 10px;
    margin-right: 12px;
    margin-bottom: 20px;
    font-family: "calc";
    font-size: 250%;
    text-align: right;
    font-weight: bold;
    /*font-size:21px;*/
    /*text-align:right;*/
}

.number {
    position: relative;
    /*display: block;*/
    text-align: center;
    height: 45px;
    width: 55px;
    border-radius: 5px;
    background-color: darkgray;
    color: white;
    margin: 1px;
    font-family: "calc";
    font-weight: bold;
    font-size: 1.5em
}

.operator {
    position: relative;
    /*display: block;*/
    text-align: center;
    height: 45px;
    width: 55px;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-family: "calc";
    margin: 1px;
    font-weight: bold;
    font-size: 1.5em
}

.clear {
    position: relative;;
    text-align: center;
    height: 45px;
    width: 85px;
    border-radius: 5px;
    background-color: darkseagreen;
    color: black;
    margin: 1px;
    font-family: "calc";
    font-weight: bold;
    font-size: 1.5em
}

.left, .right {
    float: left;
}

.left {
    width: 72%;
    box-sizing: border-box;
}

.right {
    width: 28%;
    padding-left: 3px;
    box-sizing: border-box;
}

#plus {
    height: 93px;

}

.last {
    height: 30%;
}

body {
   background-color: #66CCFF;
}


/* ----------- iPhone 6 ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+ ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- iPad 3 and 4 ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

@font-face {
    font-family: calc;
    src: url(Calculator.ttf)
}